<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
   <display-name>SHQ</display-name>
 
    <!-- Login filter -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.ektdinero.bitacora.security.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/secured/*</url-pattern>
    </filter-mapping>
 
    <!-- By default go to secured welcome page -->
    <welcome-file-list>
        <welcome-file>secured/menu.xhtml</welcome-file>
    </welcome-file-list>
    
       <!-- Admin filter -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.ektdinero.bitacora.security.filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/secured/menu/administrador/*</url-pattern>
        <url-pattern>/secured/subMenu/administrador/*</url-pattern>
    </filter-mapping>
 
    <!-- By default go to secured welcome page -->
    <welcome-file-list>
        <welcome-file>secured/menu.xhtml</welcome-file>
    </welcome-file-list>
    
    
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>
 <!-- JSF URL mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <description>State saving method: 'client' or 'server' (default). See JSF Specification section 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  
  
<context-param>
	<param-name>primefaces.THEME</param-name>
	<param-value>bootstrap</param-value>
</context-param>

<context-param>
	<param-name>primefaces.FONT_AWESOME</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--  <param-value>Development</param-value>-->
        <param-value>Production</param-value>
    </context-param>
 
  
  
  
    <resource-ref>
	    <description>jdbc/EktdinBitacora</description>
	    <res-ref-name>jdbc/EktdinBitacora</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
  	</resource-ref>
  
  
 
</web-app>

